.reset {
    background-color: #E6E6E6;
    max-width: 5em;
    padding: .5em 1em;
    color: #444;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #999;
    border: transparent;
    border-radius: 2px;
    margin: 3px;
  }
