.header {
    display: flex;
    background: #e6e6e6;
    align-items: center;
    justify-content: left;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    padding-left: 5vh;
}

p {
    color: #4a4a4a;
}

a {
    text-decoration: none;
}

img {
    height: 4vh;
    padding-right: 10px;
}
