
body {
  margin-top: 100px;
  background: #1C1D22;
  overflow:hidden;
   font-family: 'Roboto Mono', monospace;
}
button:disabled {
  background-color: transparent;
  border: none;
  cursor: not-allowed;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}